<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.core.dao.UserTestMapper">
	<!-- 编写插入的sql -->
	<insert id="insertUserTest" parameterType="UserTest" >
		insert into qnsport_usertest
		(id,username,password)
		values(#{id},#{username},#{passwrod})
	</insert>
</mapper>